body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

#app {
    display: flex;
    translate: 0 50%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #f6f6f6;
    border-radius: 8px;
    border: #000 solid 1px;
    padding: 20px;
    min-height: 400px;
}

.inventory, .cart {
    flex: 1;
    padding: 0 20px;
}

h1 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #e0dac8;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    align-items: center;
    justify-content: space-between;
}

.inventory__list li {
    display: flex;
}

.inventory__name {
    flex: content;
    text-align: center;
}

.inventory__amount, .cart__amount {
    width: 20%;
    text-align: center;
}

li span {
    text-align: center;
}

button {
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
}

button.inventory__decrease {
    background-color: #b14a4c;
    position: static;
}

button.inventory__increase {
    background-color: #76ae50;
    position: static;
}

button.cart__delete, button.inventory__add-to-cart {
    margin-left: 5%;
    background-color: #3b6da5;
}

.cart__wrapper ul li span {
    text-align: right;
}

.cart__wrapper ul li {
    display: flex;
}

.cart__div-delete {
    display: flex;
    width: 50%;
}

.cart__name {
    width: 50%;
    align-items: left;
    justify-content: left;
}

.cart__amount {
    margin: 0 10px;
}

.cart__wrapper {
    position: relative;
    min-height: 300px;
}

.cart__checkout-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #000;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
}

@media (max-width: 599px) {
    h1 {
        font-size: 24px;
    }

    li {
        flex-direction: column;
        align-items: flex-start;
    }

    button {
        width: 100%;
        margin: 5px 0;
    }

    .inventory__amount, .cart__amount {
        width: 100%;
    }

    .cart__name {
        width: 100%;
    }

    .cart__div-delete {
        width: 100%;
    }

    .cart__checkout-btn {
        position: relative;
        width: auto;
    }
}
